*{
    margin:0;
    padding: 0;
    font-size:14px;
    outline:none;
}

input[type="button"], button[type="button"], button{
    outline:none;
 }

.bg-gray-custom{
    background-color:#f5f6f7;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

.userImg{
    width: 32px;
}

.contaner{
    height:calc(100vh - 130px);
    overflow-y: auto;
}

.sideNav{
    height: 100%;
}
.logo{
    img{
        width: 80%;
    }
}